---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Slider from '../components/Slider.astro';
import ListCards from '../components/ListCards.astro';
---

<Layout title="Restaurant's Page">
	<main>
		<Navbar />
		<Slider />
		<ListCards />
	</main>
</Layout>
