---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/MainSlide.astro';
import ListCards from '../components/ListCards.astro';
import Slide from '../components/Slide.astro';
import Banner from '../components/Banner.astro';
import MapLocation from '../components/MapLocation.astro';
---

<Layout title="Restaurant's Page">
	<main>
		<Slider />
		<ListCards />
		<Slide />
		<Banner />
		<MapLocation />
	</main>
</Layout>
