---
import Layout from '../layouts/Layout.astro';
import ReservationPopUp from '../components/ReservationPopUp.astro';
---

<Layout title='Reservation Page'>
    <main class="flex flex-col items-center justify-center bg-[#F4F5F7]">
        <p class="text-3xl text-black font-semibold mt-10 mb-2">Selecione todos os detalhes abaixo</p>
        <ReservationPopUp backgroundColor="bg-[#F4F5F7]" textColor="text-black" />
    </main>
</Layout>

<script>
    
</script>