---

---

<div class="relative">
    <img src="/reservas.png" />
    <div class="absolute top-80 right-80 text-end">
        <p class="ml-1 font-semibold text-3xl">Faça suas</p>
        <h1 class="flex flex-col text-8xl font-black leading-[70px] mt-1 mb-4">
            <span>RESERVAS</span>
        </h1>
        <button class="w-44 h-16 border-4 border-white text-lg font-bold rounded-full">
            Agende agora! 
        </button>
    </div>
</div>