---
import ReservationPopUp from './ReservationPopUp.astro';


---

<div class="relative">
    <img src="/reservas.png" />
    <div class="absolute top-80 right-80 text-end">
        <p class="ml-1 font-semibold text-3xl">Faça suas</p>
        <h1 class="flex flex-col text-8xl font-black leading-[70px] mt-1 mb-4">
            <span>RESERVAS</span>
        </h1>
        <button id="openDialog" class="w-44 h-16 border-4 border-white hover:border-0 hover:bg-white hover:text-red-500 text-lg font-bold rounded-full">
            Agende agora! 
        </button>
    </div>
    <div id="dialog" class="absolute top-16 right-60 z-50 hidden">
        <button id="closeButton" class="absolute top-5 right-5 text-xl">X</button>
        <ReservationPopUp backgroundColor="bg-red-500" textColor="text-white" />
    </div>
</div>

<script>
    const popUpDiv = document.querySelector('#openDialog');
    const dialogPopup = document.querySelector('#dialog');
    const closeButton = document.querySelector('#closeButton');
    
    if (popUpDiv && dialogPopup) {
        popUpDiv.addEventListener('click', () => {
            dialogPopup.classList.remove('hidden');
            dialogPopup.classList.add('block');
        });
    }
    
    function closeModal() {
        if(dialogPopup) {
            dialogPopup.classList.add('hidden');
            dialogPopup.classList.remove('block');
        }
    }

    if (closeButton) {
        closeButton.addEventListener('click', closeModal)
    }
</script>