---
interface Props {
	title: string;
	price: string;
	href: string;
	activeCard: () => void
}

const { href, title, price, activeCard } = Astro.props;
---

<div class="shadow-lg rounded-3xl mr-6 mb-6">
	<img class="w-full rounded-t-3xl" src={href} />
	<div class="p-4">
		<p class="text-black text-xl font-bold">{title}</p>
		<div class="flex items-center justify-between my-2">
			<p class="text-black">
				R$ 
				<span class="text-lg font-semibold">
					{price}
				</span>
			</p>
			<button onclick={`${activeCard}`} class="bg-red-500 w-24 h-11 text-xs font-bold rounded-full">
				Ver detalhes
			</button>
		</div>
	</div>
</div>
