---
interface Props {
    title: string;
	price: string;
	href: string;
    description: string
}

const { href, title, price, description } = Astro.props;
---

<div class="shadow-lg rounded-3xl mr-6 mb-6">
	<img class="w-full rounded-t-3xl" src={href} />
	<div class="p-4">
		<p class="text-black text-xl font-bold">{title}</p>
        <p class="text-black text-lg">{description}</p>
		<div class="flex items-center justify-between my-2">
			<p class="text-black">
				R$ 
				<span class="text-lg font-semibold">
					{price}
				</span>
			</p>
			<button class="bg-red-500 hover:bg-red-800 w-24 h-11 text-xs font-bold rounded-full">
				Selecionar
			</button>
		</div>
	</div>
</div>