---
import Card from "./Card.astro"
import arrowDown from "../../public/arrow_down.svg?raw"
import complete_menu from "../assets/complete_menu.json"

---

<section class="flex flex-col items-center justify-center my-16">
    <h2 class="text-7xl text-red-500 font-bold mb-1">Nossa principais refeições</h2>
    <p class="text-3xl text-black font-semibold">Experimente nossas cinco melhores refeições hoje</p>
        <div id="menu" class="block">
            <div class="grid grid-cols-5 mt-10">
                {complete_menu.slice(0, 5).map((card) => (
                    <Card  
                        href={card.image}
                        title={card.title}
                        price={card.price}
                        activeCard={() => {}}
                    />
                ))}
            </div>
        </div>
    <div class="block">
        <div class="flex flex-col items-center">
            <p class="text-2xl font-semibold text-black mt-8">Veja o menu completo</p>
            <button >
                <a href="/menu" class="cursor-pointer mt-2">
                    <Fragment set:html={arrowDown} />
                </a>
            </button>
        </div>
    </div>

</section>

<script>
    

</script>