---

---

<div class="relative">
    <img src="/slider_two.png" />
    <div class="bg-black opacity-20 absolute top-0 left-0 w-full h-full" />
    <div class="absolute top-60 left-20">
        <p class="ml-1 font-semibold text-xl">Nossos restaurantes</p>
        <h1 class="flex flex-col text-8xl text-red-500 font-black leading-[70px] mt-1 mb-8">
            <span>LOCALIZAÇÃO</span>
        </h1>
        <p class="ml-1 -mt-5 font-semibold">
            Nós estamos disponíveis em
            <span class="text-red-500">São Paulo,</span>
            <span class="text-red-500">Rio de Janeiro e</span>
            <span class="text-red-500">Rio Grande do Sul.</span>
        </p>
        <button class="w-44 h-16 mt-2 border-4 border-red-500 text-lg font-bold rounded-full">
            Saiba mais
        </button>
    </div>
</div>