---

---

<div class="relative">
    <img src="/banner_mapa.png" />
    <div class="absolute top-0 left-0 w-full h-full" />
    <div class="absolute top-60 left-20 text-black">
        <p class="ml-1 font-semibold text-3xl">Nossos restaurantes</p>
        <h1 class="flex flex-col text-8xl text-red-500 font-black leading-[70px] mt-1 mb-8">
            <span>LOCALIZAÇÃO</span>
        </h1>
        <p class="ml-1 font-semibold text-2xl w-[680px]">
            Nós estamos disponíveis em
            <span class="text-red-500 uppercase">São Paulo,</span>
            <span class="text-red-500 uppercase">Rio de Janeiro e</span>
            <span class="text-red-500 uppercase">Minas Gerais.</span>
        </p>
        <button class="w-44 h-16 mt-2 border-4 border-red-500 hover:border-0 hover:bg-red-500 hover:text-white text-xl font-extrabold rounded-full">
            Saiba mais
        </button>
    </div>
</div>