---

---

<div class="relative">
    <img src="/burguer_slider1.png" />
    <div class="absolute top-32 right-80">
        <p class="ml-1 font-semibold">Experimente a nossa nova refeição</p>
        <h1 class="flex flex-col text-8xl font-black leading-[70px] mt-1 mb-8">
            <span class="text-red-500">DUPLO</span>
            <span class="text-yellow-500">NUKE</span>
            <span class="text-white">BURGUER</span>
        </h1>
        <button class="w-44 h-16 border-4 border-white text-lg font-bold rounded-full">
            Peça agora! 
        </button>
    </div>
</div>