---

---

<div class="relative">
    <img src="/slider_two.png" />
    <div class="bg-black opacity-20 absolute top-0 left-0 w-full h-full" />
    <div class="absolute top-32 left-20">
        <p class="ml-1 font-semibold text-xl">Ganhe grátis</p>
        <h1 class="flex flex-col text-8xl text-white font-black leading-[90px] mt-1 mb-8">
            <span>BOLINHOS</span>
            <span>FRITOS</span>
        </h1>
        <p class="ml-1 -mt-5 font-semibold">Para cada compra de variantes do FOME TRIPLA</p>
        <button class="w-44 h-16 mt-2 border-4 border-white hover:border-0 hover:bg-white hover:text-red-500 text-xl font-extrabold rounded-full">
            Saiba mais
        </button>
    </div>
</div>